<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>//--- NAS ---//</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <style>
        body {
            background-color: aquamarine;
        }
    </style>
</head>

<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/nas/" class="nav-link px-2 text-secondary">Cargar</a></li>
                    <li><a href="/nas/descargar" class="nav-link px-2 text-white">Descargar</a></li>
                </ul>

                <div class="text-end">
                    <a href="/nas/login"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
                    <a href="/nas/signup"><button type="button" class="btn btn-primary">Registrarse</button></a>
                </div>
            </div>
        </div>
    </header>
    <div class="container" style="margin: 5%;">
        <a href="{% url 'descargar_todo' %}" class="btn btn-primary" style="width: 90%;">Descargar todo</a>

    </div>
    <ul class="list-group list-group-horizontal-xxl">
        {% for item in page_obj %}
        <li class="list-group-item">
            <img style="margin-left: 15%;" src="{{ item.image_url }}" alt="{{ item.image.name }}" width="100px"
                height="100px">
            <button class="btn btn-success" style="float: right; margin-top: 30px;">
                <a href="{% url 'descargar_imagen' item.id %}" style="color: white;">Descargar</a>
            </button>
        </li>
        {% endfor %}
        <div class="pagination" style="background-color: white;">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1" class="btn btn-primary">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-primary">last &raquo;</a>
                {% endif %}
            </span>
        </div>


    </ul>
</body>

</html>